@media screen and (min-width: 1000px) and (max-width: 1200px){
    .box{
        background-color: #ccc;
    }
}
@media screen and (min-width: 800px) and (max-width: 999px){
    .box{
        background-color: #f00;
    }
}
@media screen and (max-width: 799px){
    .box{
        background-color: blue;
    }
} 