*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
}
.nav{
    width: 100%;
    height: 61px;
    padding: 0 154px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    border-bottom: 1px solid #F8F9FB;
}
.nav img{
    width: 146px;
    height: 39px;
    display: inline-block;
    margin: 12px 0 0 0;
}
.ul1{
    width: 400px;
    height: 60px;
    display: flex;
    box-sizing: border-box;
    margin: 0 0 0 20px;

}
.li{
    width: 80px;
    height: 60px;
    list-style: none;
}
li .home{
    color: #FD4C86;
    border-bottom: 1px solid #FD4C86;
    border-width: 2px;
}
.li a{
    width: 70px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    color: #989898;
    text-align: center;
    line-height: 60px;
}
.li a:hover{
    color: #FD4C86;
    border-bottom: 1px solid #FD4C86;
    border-width: 2px;

}
.div1{
    width: 172px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 13px 0 0;
    padding: 0 0 0 18px;
    position: relative;
}
.si{
    position: relative;
}
input{
    width: 106px;
    height: 12px;
    position: absolute;
    top: 9px;
    border: 1px solid #FFf;
    font-size: 11px;
    color: #878787;
}
.hidden{
    width: 172px;
    height: 309px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    visibility: hidden;
    position: absolute;
    z-index: 99;
    background-color: white;
}
.h1{
    width: 152px;
    height: 29px;
    box-sizing: border-box;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    color: #ccc;
    font-size: 14px;
}
.hidden p{
    width: 152px;
    height: 26px;
    box-sizing: border-box;
    font-size: 14px;
    color: #ccc;
}
.div1:hover+div{
    visibility: visible;
}
span{
    display: inline-block;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    margin: 6px 8px 0 0;
    background-image: url(../img/搜索.png);
    background-repeat: no-repeat;
    block-size: 10px 10px;
    position: absolute;
    right: 2px;
}
.div2{
    width: 62px;
    height: 45px;
    text-align: center;
}
.div2 a{
    width: 62px;
    height: 20px;
    display: inline-block;
    color: #FD4C86;
    font-size: 14px;
    margin: 20px 0 0 0;
    text-decoration: none;
}
.span1{
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    background-image: url(../img/发帖.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 12px 10px;
    padding: 0 0 0 50px;
    position: absolute;
    right: 0;
    border: 1px solid #CCC;
    border-radius: 20px;
    background-color: #FD4C86;
    line-height: 40px;
    font-size: 14px;
    color: white;
    box-shadow: 0 0 10px #ccc;
}
.div0{
    width: 210px;
    height: 45px;
    display: flex;
    position: relative;
}
.se{
    width: 460px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 154px;
}
.con{
    width: 100%;
    background-color: #F1F3F4;
}
.con1{
    width: 100%;
    height: 224px;
    box-sizing: border-box;
    padding: 16px 154px 0;
    display: flex;
    
}
.q1{
    width: 500px;
    height: 208px;
    overflow: hidden;
    position: relative;
}
.ul01{
    width: 2500px;
    height: 208px;
    animation: myfirst 8s infinite;
    position: absolute;
    left: 0;
    top: 0;
}
.ul01 li{
    float: left;
    list-style: none;
    width: 500px;
    height: 208px;
}
.ul01 img{
    width: 500px;
    height: 208px;
}
@keyframes myfirst {
    0%,25%{
        left: 0;
    }
    40%,65%{
        left: -500px;
    }
    80%,100%{
        left: -1000px;
    }
}
.q2{
    width: 520px;
    height: 208px;
    box-sizing: border-box;
    margin: 0 0 0 20px;
}
.d1{
    width: 160px;
    height: 94px;
    box-sizing: border-box;
    position: relative;
}
.d1:hover{
    transform: scale(1.5);

}
.d1 img{
    width: 160px;
    height: 94px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
}
.d1 p{
    font-size: 8px;
    position: absolute;
    bottom: 8px;
}
.dd{
    width: 520px;
    height: 94px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.b1{
    width: 160px;
    height: 94px;
    box-sizing: border-box;
    position: relative;
}
.b1:hover{
    transform: scale(1.5);
}
.b1 img{
    width: 160px;
    height: 94px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
}
.b1 p{
    font-size: 8px;
    position: absolute;
    bottom: 8px;
}
.bb{
    width: 520px;
    height: 94px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.con2{
    width: 100%;
    height: 438px;
    padding: 0 154px;
    box-sizing: border-box;
}
.qq{
    width: 1040px;
    height: 438px;
    box-sizing: border-box;
    margin: 20px 0 0 0;
    padding: 10px 0 0 20px;
    background-color: white;
}
.cc{
    width: 1000px;
    height: 190px;
    box-sizing: border-box;
    display: flex;
}
.c1{
    width: 184px;
    height: 190px;
    box-sizing: border-box;
    margin: 0 20px 20px 0;
}
.c1:hover{
    box-shadow: 0 0 3px #FD4C86;
}
.c1 img{
    width: 184px;
    height: 140px;
}
.c1 p{
    font-size: 14px;
}
.c1 p:hover{
    color: #FD4C86;
}
.mm{
    width: 1000px;
    height: 190px;
    box-sizing: border-box;
    display: flex;
}
.m1{
    width: 184px;
    height: 190px;
    box-sizing: border-box;
    margin: 0 20px 20px 0;
}
.m1:hover{
    box-shadow: 0 0 3px #FD4C86;
}
.m1 img{
    width: 184px;
    height: 140px;
}
.m1 p{
    font-size: 14px;

}
.cc1{
    width: 182px;
    height: 17px;
    box-sizing: border-box;
    margin: 9px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.x1{
    display: flex;
}
.x1 img{
    width: 17px;
    height: 17px;
}
.x1 p{
    font-size: 14px;
    color: #ccc;
}
.x1 p:hover{
    color: #FD4C86;
}